/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px; 
}

/* grid system -- mobile first! */
.row::after {
    content:"";
    display: table;
    clear:both;
} 
[class*='col-'] {
	width: 92%;
	margin: 0 4%;
	min-height: 1px;
}

.col-quarter {
	background-color: #ffc;
}

.col-half {
	background-color: #fcf;
}

.col-three-fourths {
	background-color: #cff;
}

.col-full {
	background-color: #ccf;
}

/* Mobile Tablet Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
	[class*='col-'] {
		margin-right: 0;
		min-height: 1px;
		float: left;
	}

	.col-quarter {
		width: 44%;
	}

	.col-half {
		width: 44%;
	}

	.col-three-fourths {
		width: 92%;
	}

	.col-full {
		width: 92%;
	}
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
	.col-quarter {
		width: 20%;
	}

	.col-half {
		width: 44%;
	}

	.col-three-fourths {
		width: 68%;
	}

	.col-full {
		width: 92%;
	}
}